:root{
  --main-font-color: #2B283A;
  --nav-background-color: #F55A5A;
  --url-color: #918E9B;
}

body{
  margin:0;
  font-family:'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
