:root{
  --main-font-color: #2B283A;
  --nav-background-color: #F55A5A;
  --url-color: #918E9B;
}

body{
  margin:0;
  font-family:'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header{
  background-color: var(--nav-background-color);
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.header > h1{
  margin:0;
  font-size: 0.904rem;
}

.journals{
  padding: 20px 0;
  display:flex;
  flex-direction:column;
  gap: 20px;
  
}

.card{
  margin:0 auto;
  display:flex;
  gap:30px;
  width: 50%;
}

.location-image{
  width: 125px;
  height:168px;
  border-radius: 5px;
  object-fit: cover;
}

.maps-link{
  margin-top: 20px;
  display:flex;
  align-items: center;
  gap: 32px
}

.location,
.maps-url{
  margin:0;
}

.location{
  text-transform: uppercase;
  font-size: 0.64rem;
}

.maps-url{
  color:var(--url-color);
  font-size: 0.64rem;
}

.country-description{
  margin-top: 10px;
}


.card-title, 
.date-range,
.description{
  margin:0;
  color:var(--main-font-color)
}

.date-range,
.description{
  font-size:0.64rem;
  font-size:0.64rem;
}

.card-title{
  font-size:1.563rem;
}

.date-range{
  margin: 10px 0;
}