:root{
  --nav-font-color: #61DAFB;
  --nav-background-color: #21222A;
  --main-content-background-color: #282D35;
}

body{
  margin:0;
  font-family:'Karla';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
